<h1<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>QUORA</title>
</head>

<body>
{% if request.user.is_authenticated %}
<h1>HELLO  {{user.username}}</h1>
<a href="{% url 'logoutpage' %}">LOGOUT</a>
{% else %}
<a href="{% url 'loginpage' %}">LOGIN</a>

{% endif %}
<br>
<br>
<br>
<br>
<br>

<form method="GET" action="{% url 'home' %}">

    <input type="text" placeholder="SEARCH A ROOM" name="q">
</form>

{% block content %}

{% endblock %}
</body>
</html>